@import 'bootstrap';
@import 'layouts';
@import 'home';
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

.nice-btn {
  width: 30px;
  height: 30px;
}

.header-name {
  font-family: 'Langar', cursive;
  font-size: 1.5rem !important;
}

