.top-image {
  position: relative;
}

.top-image img {
  display: inline-block;
  width: 100%;
}

.about {
  background-color: white;
}

.column-one {
  color: red;
}

.column-two {
  color: green;
}

.column-three {
  color: blue;
}

.fas {
  font-size: 200%;
}

.signup-btn {
	position: absolute;
	top: 400px;
}

.catch-copy {
  color: #d49f00;
}

.fab {
  margin: 0 10px;
}