.top-image {
  background-image: url(training.jpg);
	background-size: cover;
  background-repeat: no-repeat;
}

.about {
  height: 400px;
  background-color: lightgray;
}

.column-one {
  color: red;
}

.column-two {
  color: green;
}

.column-three {
  color: blue;
}

.fas {
  font-size: 200%;
}