<div class = "row text-center bg-white">
  <h3 class = "col-12 my-3">How To Use??</h3>
  <div class = "col-md-4">
    <h3 class = "column-one"><i class="fas fa-feather-alt"></i><br>投稿する</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat</p>
  </div>
  <div class = "col-md-4">
    <h3 class = "column-two"><i class="fas fa-chart-line"></i><br>グラフ化する</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat</p>
  </div>
  <div class = "col-md-4">
    <h3 class = "column-three"><i class="fas fa-comments"></i><br>交流する</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat</p>
  </div>
</div>